<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zluqet - Edit</title>
    <meta name="robots" content="noindex, nofollow">
    {% include 'cold/head.html' %}
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a href="{{ url_for('index') }}" class="logo">Zluqet</a>
        </div>
    </nav>

    <main class="container">
        <form action="{{ url_for('dupe_paste', key=paste.key) }}" method="POST">
            <textarea name="content">{{ paste.content }}</textarea>
            <button type="submit" class="nav-button">Save Paste</button>
        </form>
    </main>
    {% include 'cold/footer.html' %}
</body>
</html>