<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zluqet - New Paste</title>
    {% include 'cold/head.html' %}
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{{ url_for('index') }}" class="logo">
                <span>Zluqet</span>
            </a>
        </div>
    </nav>

    <main class="container">
        <form method="post">
            <textarea name="content" placeholder="// Start typing your code here..." autofocus></textarea>
            <div class="actions">
                <button type="submit" class="nav-button">Save Paste</button>
            </div>
        </form>
    </main>
    {% include 'cold/footer.html' %}
</body>
</html>